<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body style="background-color: #14171c; color: white; text-align: center">
    <div style="font-size: 24px; margin-top: 50px">
      <a
        style="text-decoration: none; color: #3ef37b; margin-left: 20px"
        href="/navigation"
        >HOME</a
      >
      <a
        style="text-decoration: none; color: #3ef37b; margin-left: 20px"
        href="/navigation/about/"
        >ABOUT</a
      >
      <a
        style="text-decoration: none; color: #3ef37b; margin-left: 20px"
        href="/navigation/contact/"
        >CONTACT</a
      >
    </div>

    <h1>Welcome To Our About Section</h1>
    <p>
      "Celebrating innovation and collaboration, our about section is where our
      story unfolds. <br />
      Discover our passion for excellence, commitment to integrity, <br />
      and the journey that drives us to make a difference."
    </p>
  </body>
</html>
